# **Getting them stonks: Option pricing using Monte Carlo simulations**
### Patricio Hernandez Senosiain 
---

## Contents:

>[1 - Introduction](#1---Introduction)
>
>[2 - Importing dependencies](#2---Importing-dependencies)
>
>[3 - Data retrieval and exploratory analysis](#3---Data-retrieval-and-exploratory-analysis)
>
>[4 - Data cleaning and preprocessing](#4---Data-cleaning-and-preprocessing)
>
>[5 - Modelling](#5---Modelling)
>
>[6 - Conclusion](#6---Conclusion)
>

## 1 - Introduction

## 2 - Importing dependencies

In [1]:
# Numpy and Pandas - Vecotr and matrix manipulations
import numpy as np
import pandas as pd

# Matplotlib and seaborn - data visualizations
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
%matplotlib inline

## 3 - Data retrieval and exploratory analysis

In [2]:
data = pd.read_csv("stock_data/NFLX.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       253 non-null    object
 1   Open       253 non-null    float64
 2   High       253 non-null    float64
 3   Low        253 non-null    float64
 4   Close      253 non-null    float64
 5   Adj Close  253 non-null    float64
 6   Volume     253 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 14.0+ KB

In [3]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-21,272.890015,279.940002,269.000000,278.049988,278.049988,12599200
1,2019-10-22,271.160004,275.410004,265.799988,266.690002,266.690002,11802400
2,2019-10-23,268.059998,273.920013,266.630005,271.269989,271.269989,7133500
3,2019-10-24,271.809998,274.019989,268.799988,271.500000,271.500000,4827400
4,2019-10-25,270.679993,277.769989,270.179993,276.820007,276.820007,4747800

## 4 - Data cleaning and preprocessing

## 5 - Modelling

## 6 - Conclusion